
*{
    margin:0 ;
    padding: 0;
    
}
 
 .hostels{
    width: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
   height: 100vh; 
   flex-wrap: wrap;

 }

a{ 
    
    text-decoration: none;
}
.title{
    font-size: 16px;
    color: white; 
    font-weight: bold;
    text-align: center;
}
#girls { 
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;  
    border-radius: 15px;
    width: 200px;
    height: 200px;
background-image: linear-gradient(45deg, rgb(10, 250, 238), rgb(94, 94, 241));

}
#boys{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;  
    border-radius: 15px;
    width: 200px;
    height: 200px;
background-image: linear-gradient(45deg, rgb(10, 250, 238), rgb(94, 94, 241));
}